.moving-banner {
    position: relative;
    width: 150%;
    height: 50px;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  
  .moving-banner h2 {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    animation: moveText 10s linear infinite;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  